/* Define all the scss variables with colors, fonts etc.. */
@media (min-width: 768px) {
  body.products-row-1.woocommerce ul.products li.product {
    width: 100%;
    margin: 0 0 50px 0;
  }
}
body.products-row-1.woocommerce ul.products li.product.last {
  margin-right: 0;
}

@media (min-width: 768px) {
  body.products-row-2.woocommerce ul.products li.product {
    width: 48.7%;
    margin: 0 2.5% 50px 0;
  }
}
body.products-row-2.woocommerce ul.products li.product.last {
  margin-right: 0;
}

@media (min-width: 768px) {
  body.products-row-3.woocommerce ul.products li.product {
    width: 31.66%;
    margin: 0 2.5% 50px 0;
  }
}
body.products-row-3.woocommerce ul.products li.product.last {
  margin-right: 0;
}

@media (min-width: 768px) {
  body.products-row-5.woocommerce ul.products li.product {
    width: 18%;
    margin: 0 2.5% 50px 0;
  }
}
body.products-row-5.woocommerce ul.products li.product.last {
  margin-right: 0;
}

@media (min-width: 768px) {
  body.products-row-6.woocommerce ul.products li.product {
    width: 14.58%;
    margin: 0 2.5% 50px 0;
  }
}
body.products-row-6.woocommerce ul.products li.product.last {
  margin-right: 0;
}

body.woocommerce .product ul.products li.product {
  overflow: hidden;
}
@media (min-width: 768px) {
  body.woocommerce .product ul.products li.product {
    width: 23%;
  }
}

/* WooCommerce */
.woocommerce a.button,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce #respond input#submit {
  display: inline-block;
  padding: 14px 34px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  line-height: 1.42857;
  border-radius: 1px;
  border: 2px solid transparent;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #4294e1;
  -webkit-font-smoothing: auto;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.woocommerce a.button:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce #respond input#submit:hover {
  background-color: #4f9fdb;
  color: #fff;
}
.woocommerce a.button:focus,
.woocommerce input.button:focus,
.woocommerce input.button.alt:focus,
.woocommerce button.button:focus,
.woocommerce button.button.alt:focus,
.woocommerce #respond input#submit:focus {
  outline: none;
}
.woocommerce a.button.added::after,
.woocommerce input.button.added::after,
.woocommerce input.button.alt.added::after,
.woocommerce button.button.added::after,
.woocommerce button.button.alt.added::after,
.woocommerce #respond input#submit.added::after {
  margin-right: auto;
  margin-left: 10px;
}
.woocommerce #reviews #comments h2,
.woocommerce #reviews h3,
.woocommerce div.product .woocommerce-tabs h2,
.woocommerce .related h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.woocommerce form .form-row {
  padding: 0;
  margin-bottom: 15px;
}
.woocommerce form .form-row#billing_country_field {
  margin-bottom: 25px;
}
.woocommerce form .form-row#billing_address_1_field {
  margin-bottom: 5px;
}
.woocommerce form .form-row label {
  font-weight: 500;
  color: #343434;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
  border-color: red;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  display: block;
  padding: 15px;
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: normal;
  color: #999;
  border-radius: 1px;
  background: #f9f9f9;
  border: 1px solid #eee;
}
.woocommerce form .form-row input.input-text:active, .woocommerce form .form-row input.input-text:focus,
.woocommerce form .form-row textarea:active,
.woocommerce form .form-row textarea:focus {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.woocommerce form .form-row #order_comments {
  min-height: 148px;
}
.woocommerce .woocommerce-ordering {
  position: relative;
  top: -10px;
  margin-bottom: 9px;
}
.woocommerce .woocommerce-ordering .orderby {
  position: relative;
  width: 155px;
  height: 37px;
  padding: 0 0 0 20px;
  font-size: 14px;
  outline: 0;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: url("../images/select-bg.png");
  background-position: 90% center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.woocommerce .star-rating span:before {
  color: #f7d32d;
}
.woocommerce ul.products li.product {
  overflow: hidden;
}
.woocommerce ul.products li.product a img {
  margin-bottom: 30px;
  border-radius: 2px;
  transition: all 100ms ease-in-out;
}
.woocommerce ul.products li.product a.added_to_cart {
  margin-left: 15px;
  font-weight: bold;
}
.woocommerce ul.products li.product a.button {
  padding: 12px 20px;
}
.woocommerce ul.products li.product .onsale {
  top: 0px;
  right: -25px;
  padding-top: 9px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  line-height: 41px;
  border-radius: 0;
  background-color: #59a3ec;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  display: block;
  padding: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #343434;
  transition: all 100ms ease-in-out;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title:hover {
  color: #4294e1;
}
.woocommerce ul.products li.product .price {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  color: #343434;
}
.woocommerce ul.products li.product .price del {
  margin-right: 5px;
  line-height: 19px;
}
.woocommerce .quantity {
  margin-right: 0;
}
@media (min-width: 992px) {
  .woocommerce .quantity {
    width: 50%;
  }
}
.woocommerce .quantity .qty {
  width: 100%;
  height: 55px;
  padding: 0;
  font-size: 14px;
  border: 1px solid #eee;
  background: #f9f9f9;
}
.woocommerce .quantity .qty:focus {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.woocommerce span.onsale {
  position: absolute;
  left: 25px;
  top: 25px;
  margin: 0;
  width: 70px;
  height: 30px;
  min-height: 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  z-index: 2;
  border-radius: 1px;
  background-color: #4294e1;
  transition: all 100ms ease-out;
}
.woocommerce div.product .product_title {
  margin-bottom: 0;
  word-break: break-word;
}
.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 10px;
}
.woocommerce div.product .woocommerce-product-rating .woocommerce-review-link {
  color: #969696;
}
.woocommerce div.product .images,
.woocommerce div.product .summary {
  margin-top: 0;
}
.woocommerce div.product div.images,
.woocommerce div.product div.summary {
  margin-bottom: 50px;
}
.woocommerce div.product p.price {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #4294e1;
}
.woocommerce div.product p.price del {
  opacity: 0.5;
  color: #999999;
  margin-right: 3px;
}
.woocommerce div.product p.price ins span {
  color: #4294e1;
}
.woocommerce div.product form.cart {
  margin: 30px 0;
}
.woocommerce div.product form.cart .group_table td {
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
}
.woocommerce div.product form.cart .group_table td:first-child {
  width: 100px;
}
.woocommerce div.product form.cart .group_table td label {
  margin: 0;
}
.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label {
  padding-left: 0;
  padding-right: 0;
}
.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label a {
  padding: 0 30px;
  font-weight: 500;
  font-size: 15px;
  color: #343434;
  white-space: nowrap;
}
.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__price del span.amount {
  opacity: 0.4;
}
.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__price:not(del) span.amount {
  color: #4294e1;
  font-weight: 500;
}
.woocommerce div.product form.cart .group_table .quantity {
  width: auto;
}
.woocommerce div.product form.cart .group_table .quantity .qty {
  height: 50px;
}
.woocommerce div.product form.cart div.quantity {
  margin-right: 5%;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button {
  width: 45%;
  height: 55px;
  margin-left: 0;
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: initial;
  outline: none;
  background: #4294e1;
  transition: all 100ms ease-in-out;
}
.woocommerce div.product form.cart .button.single_add_to_cart_button:hover {
  background: #4f9fdb;
}
.woocommerce div.product .woocommerce-tabs .panel {
  margin-bottom: 40px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin-bottom: 40px;
  padding: 0;
  background-color: #f9f9f9;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 0;
  margin: 0 -2px;
  background: none;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0 1px 0 0;
  border-radius: 0;
  transition: all 100ms ease-in-out;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  color: #fff;
  background-color: #4294e1;
  border-color: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li:active {
  border-color: transparent;
  background-color: #4f9fdb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a, .woocommerce div.product .woocommerce-tabs ul.tabs li:active a {
  color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  padding: 16px 35px;
  font-size: 14px;
  font-weight: 500;
  color: #343434;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  display: none;
}
.woocommerce div.product #reviews #comments ol.commentlist {
  padding-left: 0;
}
.woocommerce div.product #reviews #comments ol.commentlist li .comment-text {
  padding: 20px 20px 10px 20px;
  margin-left: 80px;
  border-radius: 0px;
  border-color: #eee;
}
.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 12px;
  font-style: italic;
}
.woocommerce div.product #reviews #comments ol.commentlist li .comment-text p.meta .woocommerce-review__author {
  font-size: 15px;
  font-style: normal;
  color: #343434;
}
.woocommerce div.product #reviews #comments ol.commentlist li .avatar {
  padding: 0;
  width: 60px;
  border: none;
  background: none;
}
.woocommerce div.product #reviews p.stars a {
  color: #f7d32d;
}
.woocommerce div.product #reviews .comment-form-rating {
  margin-top: 20px;
}
.woocommerce div.product #reviews .comment-form input[type="text"],
.woocommerce div.product #reviews .comment-form input[type="email"],
.woocommerce div.product #reviews .comment-form input[type="tel"],
.woocommerce div.product #reviews .comment-form input[type="number"],
.woocommerce div.product #reviews .comment-form input[type="url"],
.woocommerce div.product #reviews .comment-form input[type="password"],
.woocommerce div.product #reviews .comment-form input[type="date"],
.woocommerce div.product #reviews .comment-form textarea,
.woocommerce div.product #reviews .comment-form select {
  padding: 15px 25px;
  width: 100%;
  border: 1px solid #eee;
  background: #f9f9f9;
}
.woocommerce div.product #reviews .comment-form input[type="text"]:active, .woocommerce div.product #reviews .comment-form input[type="text"]:focus,
.woocommerce div.product #reviews .comment-form input[type="email"]:active,
.woocommerce div.product #reviews .comment-form input[type="email"]:focus,
.woocommerce div.product #reviews .comment-form input[type="tel"]:active,
.woocommerce div.product #reviews .comment-form input[type="tel"]:focus,
.woocommerce div.product #reviews .comment-form input[type="number"]:active,
.woocommerce div.product #reviews .comment-form input[type="number"]:focus,
.woocommerce div.product #reviews .comment-form input[type="url"]:active,
.woocommerce div.product #reviews .comment-form input[type="url"]:focus,
.woocommerce div.product #reviews .comment-form input[type="password"]:active,
.woocommerce div.product #reviews .comment-form input[type="password"]:focus,
.woocommerce div.product #reviews .comment-form input[type="date"]:active,
.woocommerce div.product #reviews .comment-form input[type="date"]:focus,
.woocommerce div.product #reviews .comment-form textarea:active,
.woocommerce div.product #reviews .comment-form textarea:focus,
.woocommerce div.product #reviews .comment-form select:active,
.woocommerce div.product #reviews .comment-form select:focus {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.woocommerce div.product #reviews #review_form_wrapper {
  margin-top: 20px;
}
.woocommerce div.product #reviews #review_form_wrapper .comment-reply-title {
  font-size: 24px;
  font-weight: 500;
  color: #343434;
}
.woocommerce div.product #reviews #review_form #respond p.comment-notes {
  float: none;
}
.woocommerce div.product #reviews #review_form #respond p.form-submit {
  margin-top: 25px;
}
.woocommerce div.product .related .products {
  margin-bottom: 0;
}
.woocommerce div.product .related .products li {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .woocommerce div.product .related .products li {
    width: calc(25% - 16px);
  }
}
.woocommerce nav.woocommerce-pagination {
  display: block;
  padding-top: 60px;
  margin-bottom: 30px;
  text-align: left;
  border-top: 1px solid rgba(50, 50, 50, 0.1);
}
.woocommerce nav.woocommerce-pagination ul {
  display: block;
  position: relative;
  margin: 0;
  border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
  display: initial;
  float: none;
  margin: 0;
  border: none;
  text-align: center;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
  color: #fff;
  background-color: #4294e1;
}
.woocommerce nav.woocommerce-pagination ul li .page-numbers {
  float: left;
  width: 55px;
  height: 55px;
  padding: 0;
  margin-right: 5px;
  font-weight: bold;
  line-height: 54px;
  color: #999;
  text-align: center;
  text-decoration: none;
  border-radius: 1px;
  background-color: #f5f7fb;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.woocommerce nav.woocommerce-pagination ul li a.next {
  float: right;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover {
  background-color: #4294e1;
  border-color: transparent;
  color: #fff;
}
.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce .woocommerce-page .woocommerce-pagination ul.page-numbers li {
  display: initial;
}
.woocommerce .widget_product_categories {
  position: relative;
  padding: 30px 35px;
  border-bottom-right-radius: 50px;
  background-color: #2f529b;
}
.woocommerce .widget_product_categories::before, .woocommerce .widget_product_categories::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  background: #3d92e4;
}
.woocommerce .widget_product_categories::before {
  left: 0;
  width: calc( 100% - 5px);
  height: 5px;
}
.woocommerce .widget_product_categories::after {
  width: 5px;
  height: 100%;
}
.woocommerce .widget_product_categories .widget-title,
.woocommerce .widget_product_categories .widgettitle {
  color: #ffffff;
}
.woocommerce .widget_product_categories .product-categories {
  padding-left: 0;
  margin: 0;
}
.woocommerce .widget_product_categories .product-categories li {
  list-style: none;
}
.woocommerce .widget_product_categories .product-categories li a {
  position: relative;
  display: inline-block;
  margin: 5px 0;
  padding-left: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
.woocommerce .widget_product_categories .product-categories li a::before {
  position: absolute;
  left: 0;
  content: "\f105";
  padding-right: 15px;
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.3);
  transition: all 100ms ease-in-out;
}
.woocommerce .widget_product_categories .product-categories li a:hover {
  color: #fff;
}
.woocommerce .widget_product_categories .product-categories li.current-cat > a {
  color: #fff;
}
.woocommerce .widget_product_categories .product-categories li.current-cat > a::before {
  color: #fff;
}
.woocommerce .widget_product_categories .product-categories ul.children {
  margin-left: 0;
}
.woocommerce ul.product_list_widget li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.woocommerce ul.product_list_widget li:first-of-type {
  padding-top: 0;
}
.woocommerce ul.product_list_widget li:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.woocommerce ul.product_list_widget li a {
  color: #343434;
  font-weight: bold;
}
.woocommerce ul.product_list_widget li a:hover {
  color: #4294e1;
}
.woocommerce ul.product_list_widget li .star-rating {
  display: block;
  margin: 6px 0 3px 0;
  font-size: 12px;
}
.woocommerce ul.product_list_widget li .amount {
  font-size: 14px;
}
.woocommerce ul.product_list_widget li img {
  float: left;
  width: 60px;
  margin: 5px 20px 0 0;
}
.woocommerce .widget_shopping_cart .cart_list li {
  padding: 8px 0 8px 45px;
}
.woocommerce .widget_shopping_cart .cart_list li:first-of-type {
  padding-top: 10px;
}
.woocommerce .widget_shopping_cart .cart_list li:last-of-type {
  padding-bottom: 10px;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove {
  top: calc(50% - 10px);
}
.woocommerce .widget_shopping_cart .cart_list .product_list_widget li img {
  width: 30px;
}
.woocommerce .widget_shopping_cart .total {
  padding-top: 10px;
  border-top: 1px solid #dedede;
}
.woocommerce .widget_shopping_cart .button {
  padding: 12px 22px;
  width: calc(50% - 2px);
  text-align: center;
}
.woocommerce .woocommerce-product-search {
  position: relative;
}
.woocommerce .woocommerce-product-search .search-field {
  height: 56px;
  outline: none;
  padding: 0 25px;
  width: 64%;
  border: 1px solid #eee;
  background: #f9f9f9;
}
.woocommerce .woocommerce-product-search .search-field:active, .woocommerce .woocommerce-product-search .search-field:focus {
  border-color: #cecece;
}
.woocommerce .woocommerce-product-search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 56px;
  width: 36%;
  padding: 14px 0;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border: none;
  background: #4294e1;
  outline: none;
  transition: all 100ms ease-in-out;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  padding: 4px 15px;
  font-size: 14px;
  outline: none;
  border-radius: 1px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: #f9f9f9;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  width: 11px;
  height: 11px;
  top: -1.6px;
  background-color: #999;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #dedede;
}
.woocommerce table.shop_table {
  margin-bottom: 40px;
  border-radius: 0;
}
.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
  padding: 14px 20px;
}
.woocommerce table.shop_table .product-remove {
  padding-left: 15px;
}
.woocommerce table.shop_table .product-name a {
  font-weight: bold;
  color: initial;
}
.woocommerce table.shop_table .product-quantity .quantity .qty {
  width: 100px;
  height: 40px;
}
.woocommerce table.shop_table a.remove {
  border-radius: 1px;
  background-color: #f2f2f2;
}
.woocommerce table.shop_table a.remove:hover {
  color: #fff !important;
  /* Need to overwrite */
  background-color: #4294e1;
}
.woocommerce table.cart .button,
.woocommerce table.cart input.button {
  height: 44px;
  padding: 0 30px;
  line-height: inherit;
}
.woocommerce table.cart td.actions .coupon .input-text {
  height: 44px;
  width: 200px;
  padding: 0 15px;
  margin-right: 10px;
  line-height: 15px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
}
.woocommerce table.cart td.actions .coupon .input-text:focus {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media (max-width: 580px) {
  .woocommerce table.cart td.actions .coupon .input-text {
    margin: 0 0 10px 0;
    background: #fff;
  }
}
@media (max-width: 580px) {
  .woocommerce table.cart td.actions .coupon .button,
  .woocommerce table.cart td.actions .coupon .input-text {
    width: 100%;
  }
}
.woocommerce table.cart tr:last-of-type td {
  padding: 20px 15px;
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table th,
.woocommerce table.cart td,
.woocommerce table.cart th {
  border: none;
}
.woocommerce table.shop_table tbody td,
.woocommerce table.cart tbody td {
  border-top: 1px solid #e2e2e2;
}

.wp-block-woocommerce-cart .wc-block-components-product-name,
.wp-block-woocommerce-cart .wc-block-components-product-price,
.wp-block-woocommerce-cart .wc-block-components-totals-item,
.wp-block-woocommerce-cart .wc-block-grid__product-title,
.wp-block-woocommerce-cart .wc-block-grid__product-price {
  font-family: "Roboto";
  font-weight: 700;
  color: #464646;
}
.wp-block-woocommerce-cart .wc-block-components-product-name {
  font-size: 20px;
}
.wp-block-woocommerce-cart .wc-block-components-product-price {
  font-size: 18px;
}
.wp-block-woocommerce-cart .wc-block-components-product-badge {
  margin: 10px 0;
  font-size: 16px;
}
.wp-block-woocommerce-cart .wc-block-components-product-metadata {
  font-size: 14px;
}
.wp-block-woocommerce-cart .wc-block-components-quantity-selector .wc-block-components-quantity-selector__button {
  font-weight: 700;
}
.wp-block-woocommerce-cart .wc-block-components-quantity-selector:after {
  border-color: rgba(0, 0, 0, 0.2);
}
.wp-block-woocommerce-cart table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 700;
}
.wp-block-woocommerce-cart .wc-block-cart__submit-button,
.wp-block-woocommerce-cart .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
  padding: 16px 22px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #4294e1;
  transition: all .15s ease-in-out;
}
.wp-block-woocommerce-cart .wc-block-components-totals-coupon__form .wc-block-components-totals-coupon__button {
  border: none;
  opacity: .6;
  padding: 0 22px;
  font-size: 14px;
  font-weight: 700;
  background-color: #e2e2e2;
  border-radius: 1px;
  transition: all .15s ease-in-out;
}
.wp-block-woocommerce-cart .wc-block-components-totals-coupon__form .wc-block-components-totals-coupon__button:not([disabled]) {
  opacity: 1;
}
.wp-block-woocommerce-cart .wc-block-cart__empty-cart__title {
  font-size: 15px;
}
.wp-block-woocommerce-cart .wc-block-grid__product-title {
  font-size: 20px;
  line-height: 1.25;
}
.wp-block-woocommerce-cart .wc-block-grid__product .wc-block-grid__product-image:not(.wc-block-components-product-image) {
  margin-bottom: 30px;
}
.wp-block-woocommerce-cart .wc-block-grid__product-price {
  font-size: 20px;
  line-height: 1.25;
}
.wp-block-woocommerce-cart .wc-block-grid__product-price del {
  color: inherit;
  opacity: .5;
}
.wp-block-woocommerce-cart .wc-block-grid .wc-block-grid__product-onsale,
.wp-block-woocommerce-cart .wc-block-grid__product-image .wc-block-grid__product-onsale {
  margin: 0;
  top: 20px;
  right: 30px;
  width: 70px;
  height: 30px;
  min-height: 10px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 1px;
  border: none;
  background-color: #9ab83f;
}

.wp-block-woocommerce-checkout .wc-block-checkout__sidebar .wc-block-components-product-name,
.wp-block-woocommerce-checkout .wc-block-checkout__sidebar .wc-block-components-totals-footer-item {
  font-weight: 700;
  color: #464646;
}
.wp-block-woocommerce-checkout .wc-block-checkout__sidebar .wc-block-components-product-name {
  font-size: 16px;
}
.wp-block-woocommerce-checkout .wc-block-components-checkout-place-order-button {
  padding: 18px 35px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #4294e1;
  transition: all .15s ease-in-out;
}

.woocommerce-page .woocommerce-NoticeGroup .woocommerce-error,
.woocommerce-page .woocommerce-NoticeGroup .woocommerce-info,
.woocommerce-page .woocommerce-NoticeGroup .woocommerce-message {
  display: block;
}
.woocommerce-page .woocommerce-NoticeGroup .woocommerce-error li,
.woocommerce-page .woocommerce-NoticeGroup .woocommerce-info li,
.woocommerce-page .woocommerce-NoticeGroup .woocommerce-message li {
  line-height: 1.8;
}
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 70px;
  margin-bottom: 40px;
  font-weight: 700;
  border-top: 0;
  border-radius: 1px;
  line-height: 1.25;
  background: #f5f7fb;
}
@media (min-width: 500px) {
  .woocommerce-page .woocommerce-error,
  .woocommerce-page .woocommerce-info,
  .woocommerce-page .woocommerce-message {
    line-height: 43px;
  }
}
.woocommerce-page .woocommerce-error::before,
.woocommerce-page .woocommerce-info::before,
.woocommerce-page .woocommerce-message::before {
  top: calc(50% - 10px);
  left: 20px;
  font-size: 20px;
  line-height: initial;
  color: #4294e1;
}
.woocommerce-page .woocommerce-error a.button,
.woocommerce-page .woocommerce-info a.button,
.woocommerce-page .woocommerce-message a.button {
  order: 3;
  flex-shrink: 0;
  margin-top: 0;
  padding: 15px 26px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.woocommerce-page .woocommerce-error a.button:hover,
.woocommerce-page .woocommerce-info a.button:hover,
.woocommerce-page .woocommerce-message a.button:hover {
  background-color: #358ddf;
}
.woocommerce-page .woocommerce-error .showcoupon,
.woocommerce-page .woocommerce-info .showcoupon,
.woocommerce-page .woocommerce-message .showcoupon {
  margin-right: auto;
  margin-left: 10px;
}
.woocommerce-page .col2-set {
  margin-bottom: 30px;
}

/* WooCoomerce Cart */
.woocommerce-checkout #payment {
  border-radius: 2px;
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce-checkout #payment div.form-row {
  padding: 20px;
}
.woocommerce-checkout #payment ul.payment_methods {
  color: #343434;
  border-color: rgba(0, 0, 0, 0.1);
}
.woocommerce-checkout #payment ul.payment_methods li {
  padding: 20px 70px 20px;
  font-weight: 500;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.05);
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  margin-left: 10px;
}
.woocommerce-checkout .woocommerce-shipping-fields .woocommerce-form__label {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 0;
}

/* WooCommerce & Bootstrap 4 fix */
.woocommerce .col-1,
.woocommerce .col-2 {
  max-width: none;
  padding: 0;
}
.woocommerce .form-row {
  display: block;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: #f9f9f9;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  font-size: 15px;
  background-color: #4294e1;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  background-color: #358ddf;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  padding: 20px 30px 5px 30px;
  border: 1px solid rgba(50, 50, 50, 0.1);
  border-radius: 1px;
}
.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2 {
  font-size: 26px;
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
  width: 100%;
}

#add_payment_method .cart-collaterals .shipping-calculator-button::after,
.woocommerce-cart .cart-collaterals .shipping-calculator-button::after,
.woocommerce-checkout .cart-collaterals .shipping-calculator-button::after {
  display: inline-block;
}

/* WooCommerce Myaccount Page */
@media (max-width: 1199.98px) {
  .woocommerce-MyAccount-navigation {
    margin-bottom: 50px;
  }
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding-left: 0;
}
.woocommerce-MyAccount-navigation ul li a {
  display: block;
  position: relative;
  margin: 0 0 1px;
  padding: 14px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #080808;
  background-color: #f5f7fb;
}
.woocommerce-MyAccount-navigation ul li a:hover {
  color: #fff;
  background-color: #58a4ec;
}
.woocommerce-MyAccount-navigation ul li.is-active a {
  color: #fff;
  background-color: #58a4ec;
}

@media (min-width: 992px) {
  .woocommerce-MyAccount-content fieldset {
    padding: 20px 30px 25px 30px;
    margin-bottom: 20px;
    border: 1px solid #dcddde;
  }
  .woocommerce-MyAccount-content fieldset legend {
    width: auto;
    padding: 0 10px;
    font-size: inherit;
    background-color: #fff;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 25%;
  }
}
/* WooCommerce Login Screen */
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  padding: 30px 30px 15px 30px;
  border-color: #eee;
  border-radius: 2px;
}

.woocommerce form .form-row label.inline {
  margin-left: 10px;
}

/* WooCommerce select2 field */
.woocommerce-page .select2-dropdown {
  border-radius: 2px;
  border-color: #ccc;
}
.woocommerce-page .select2-dropdown .select2-search__field {
  margin: 5px 10px;
  padding: 6px 15px;
  width: calc( 100% - 20px);
  border-color: #eee;
}
.woocommerce-page .select2-dropdown .select2-search__field:focus, .woocommerce-page .select2-dropdown .select2-search__field:active {
  border-color: #ccc;
}

.woocommerce .select2-container.select2-container--default .select2-selection--single {
  padding: 0 10px;
  outline: none;
  border-radius: 1px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
}
.woocommerce .select2-container.select2-container--open .select2-selection--single {
  border-color: #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.woocommerce .select2-container .select2-selection--single {
  height: 51px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #999;
  line-height: 50px;
  outline: none;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 13px;
  right: 20px;
}

body:not(.btn-theme-default) .woocommerce .woocommerce-product-search button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.wpb_wrapper .product-categories ul.products {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.wpb_wrapper .product-categories ul.products::before, .wpb_wrapper .product-categories ul.products::after {
  display: none;
}
.wpb_wrapper .product-categories ul.products li.product {
  width: auto;
  float: none;
  margin: 0;
}
.wpb_wrapper .product-categories ul.products li.product:first-of-type {
  grid-column-start: 1;
}
.wpb_wrapper .product-categories ul.products li a {
  display: block;
}
.wpb_wrapper .product-categories ul.products li a.category-image {
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform .2s ease;
}
.wpb_wrapper .product-categories ul.products li a.category-image img {
  margin-bottom: 0;
}
.wpb_wrapper .product-categories ul.products li:hover a.category-image > img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.wpb_wrapper .product-categories .product-categories__title {
  margin: 25px 0;
  font-size: 18px;
  font-weight: 700;
}
.wpb_wrapper .product-categories .product-categories__title a {
  color: #464646;
  transition: all .1s ease;
}
.wpb_wrapper .product-categories .product-categories__title:hover a {
  color: #4294e1;
}
.wpb_wrapper .product-categories .product-categories__title mark {
  position: relative;
  top: -3px;
  padding: 0;
  font-size: 14px;
  background: none;
}
.wpb_wrapper .recent-products ul.products {
  display: grid;
  gap: 30px;
  margin: 0;
}
.wpb_wrapper .recent-products ul.products::before, .wpb_wrapper .recent-products ul.products::after {
  display: none;
}
.wpb_wrapper .recent-products ul.products li.product {
  width: auto;
  float: none;
  margin: 0;
}
.wpb_wrapper .recent-products ul.products li.product:first-of-type {
  grid-column-start: 1;
}
.wpb_wrapper .recent-products ul.products li.product .star-rating {
  display: inline-block;
}
.wpb_wrapper .woocommerce .products .product-category {
  overflow: visible;
}
.wpb_wrapper .woocommerce .products .product-category:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.wpb_wrapper .woocommerce .products .product-category a {
  display: block;
}
.wpb_wrapper .woocommerce .products .product-category img {
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: transform .2s ease;
}
.wpb_wrapper .woocommerce .products .product-category .woocommerce-loop-category__title {
  font-size: 18px;
}
.wpb_wrapper .woocommerce .products .product-category .count {
  transition: color .1s ease;
}
@media (min-width: 992px) {
  .wpb_wrapper .woocommerce ul.products[data-col-md="1"] {
    grid-template-columns: repeat(1, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-md="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-md="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-md="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-md="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-md="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .wpb_wrapper .woocommerce ul.products[data-col-sm="1"] {
    grid-template-columns: repeat(1, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-sm="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-sm="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-sm="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-sm="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-sm="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 767.98px) {
  .wpb_wrapper .woocommerce ul.products[data-col-xs="1"] {
    grid-template-columns: repeat(1, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-xs="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-xs="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-xs="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-xs="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
  .wpb_wrapper .woocommerce ul.products[data-col-xs="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
}
